/* =============================================== */
/* = Dark Theme = */
/* =============================================== */

body.is-dark {
	background-color: #4a4a4a !important
}

body.is-dark .navbar-dropdown {
	background-color: #363636 !important
}

body.is-dark .navbar-link::after {
	border-color: #F5F5F5 !important;
}

body.is-dark .box {
	background-color: #2f2f2f !important;
	color: #b5b5b5;
}

body.is-dark .title,
body.is-dark .section.sidebar .title,
body.is-dark .section.sidebar .title + p,
body.is-dark .section.sidebar .title + ul {
	color: #b5b5b5 !important;
}
body.is-dark .section.sidebar ul li a {
	color: #1d72aa !important;
}

body.is-dark .section.sidebar ul li a:hover,
body.is-dark .section.sidebar ul li a:focus {
  color: #248fd6 !important;
}

body.is-dark .section.sidebar hr {
    background-color: #b5b5b5 !important;
}

body.is-dark .button.is-link,
body.is-dark .button.is-info {
    background-color: #363636;
    border-color: transparent;
    color: #f5f5f5
}

body.is-dark .button.is-link.is-hovered,
body.is-dark .button.is-link:hover,
body.is-dark .button.is-info.is-hovered,
body.is-dark .button.is-info:hover {
    background-color: #2f2f2f;
    border-color: transparent;
    color: #f5f5f5 !important
}

body.is-dark .button.is-link.is-focused,
body.is-dark .button.is-link:focus,
body.is-dark .button.is-info.is-focused,
body.is-dark .button.is-info:focus {
    border-color: transparent;
    color: #f5f5f5 !important
}

body.is-dark .button.is-link.is-focused:not(:active),
body.is-dark .button.is-link:focus:not(:active),
body.is-dark .button.is-info.is-focused:not(:active),
body.is-dark .button.is-info:focus:not(:active) {
    box-shadow: 0 0 0 .125em rgba(54, 54, 54, .25)
}

body.is-dark .button.is-link.is-active,
body.is-dark .button.is-link:active,
body.is-dark .button.is-info.is-active,
body.is-dark .button.is-info:active {
    background-color: #292929;
    border-color: transparent;
    color: #f5f5f5
}

body.is-dark .pagination-link,
body.is-dark .pagination-next,
body.is-dark .pagination-previous {
	background-color: #363636 !important;
	border-color: #2f2f2f !important;
	color: #b5b5b5 !important;
}

body.is-dark .pagination-link.is-current {
    background-color: #292929 !important;
    border-color: transparent !important;
}

body.is-dark .pagination-link:hover,
body.is-dark .pagination-next:hover,
body.is-dark .pagination-previous:hover {
    background-color: #2f2f2f;
}

.pagination-link:focus,
.pagination-next:focus,
.pagination-previous:focus {
    border-color: #2f2f2f
}

body.is-dark .footer.has-background-info {
	background-color: #363636 !important;
}
body.is-dark .footer.has-background-info .content .buttons a {
	color: #b5b5b5;
}
body.is-dark .footer.has-background-info p {
	color: #b5b5b5;
}

body.is-dark .hero.is-info {
    background-color: #363636;
    color: #f5f5f5
}

body.is-dark .hero.is-info a:not(.button):not(.dropdown-item):not(.tag),
body.is-dark .hero.is-info strong {
    color: inherit
}

body.is-dark .hero.is-info .title {
    color: #f5f5f5
}

body.is-dark .hero.is-info .subtitle {
    color: rgba(245, 245, 245, .9)
}

body.is-dark .hero.is-info .subtitle a:not(.button),
body.is-dark .hero.is-info .subtitle strong {
    color: #f5f5f5
}

@media screen and (max-width:1087px) {
    body.is-dark .hero.is-info .navbar-menu {
        background-color: #363636
    }
}

body.is-dark .hero.is-info .navbar-item,
body.is-dark .hero.is-info .navbar-link {
    color: rgba(245, 245, 245, .7)
}

body.is-dark .hero.is-info .navbar-link.is-active,
body.is-dark .hero.is-info .navbar-link:hover,
body.is-dark .hero.is-info a.navbar-item.is-active,
body.is-dark .hero.is-info a.navbar-item:hover {
    background-color: #292929;
    color: #f5f5f5
}

body.is-dark .content tr td,
body.is-dark .content ul li,
body.is-dark .content ol li,
body.is-dark .content p {
	color: #f5f5f5;
}

body.is-dark .content h1,
body.is-dark .content h2,
body.is-dark .content h3,
body.is-dark .content h4,
body.is-dark .content h5,
body.is-dark .content h6,
body.is-dark .content table thead tr th,
body.is-dark .content strong {
	color: #b5b5b5;
}

body.is-dark .content a {
	color: #1d72aa;
}

body.is-dark .content a:hover,
body.is-dark .content a:focus {
  color: #248fd6;
}

body.is-dark .content blockquote {
	background-color: #363636 !important;
}

body.is-dark .content pre,
body.is-dark .content code {
	background-color: #363636;
	color: #f5f5f5;
}

/*==============================================
= Pagination for articles single page
==============================================*/

body.is-dark .bd-prev-next-bis a.bd-prev-next-bis-previous,
body.is-dark .bd-prev-next-bis a.bd-prev-next-bis-next {
	color: #1d72aa !important;
}

body.is-dark .bd-prev-next-bis a.bd-prev-next-bis-next:hover,
body.is-dark .bd-prev-next-bis a.bd-prev-next-bis-previous:hover {
	color: #248fd6 !important;
}

/* =============================================== */
/* =  Syntax Dark Scheme = */
/* =============================================== */

body.is-dark .highlight,
body.is-dark pre.highlight {
    background: #363636;
    color: #f5f5f5
}

body.is-dark .highlight pre {
    background: #363636;
}

body.is-dark .highlight .ge {
    font-style: italic
}

body.is-dark .highlight .gs {
    font-weight: 700
}

body.is-dark .highlight .ow {
    font-weight: 700
}

body.is-dark .highlight .n,
body.is-dark .highlight .nf,
body.is-dark .highlight .nn,
body.is-dark .highlight .o,
body.is-dark .highlight .p {
    color: #abb2bf
}

body.is-dark .highlight .c,
body.is-dark .highlight .c1,
body.is-dark .highlight .cm,
body.is-dark .highlight .cp,
body.is-dark .highlight .cs {
    color: #5c6370;
    font-style: italic
}

body.is-dark .highlight .sr,
body.is-dark .highlight .ss {
    color: #56b6c2
}

body.is-dark .highlight .k,
body.is-dark .highlight .kc,
body.is-dark .highlight .kd,
body.is-dark .highlight .kn,
body.is-dark .highlight .kp,
body.is-dark .highlight .kr,
body.is-dark .highlight .kt {
    color: #c678dd
}

body.is-dark .highlight .l,
body.is-dark .highlight .ld,
body.is-dark .highlight .s,
body.is-dark .highlight .s1,
body.is-dark .highlight .s2,
body.is-dark .highlight .sb,
body.is-dark .highlight .sc,
body.is-dark .highlight .sd,
body.is-dark .highlight .se,
body.is-dark .highlight .sh,
body.is-dark .highlight .si,
body.is-dark .highlight .sx {
    color: #98c379
}

body.is-dark .highlight .nt,
body.is-dark .highlight .nx,
body.is-dark .highlight .vi {
    color: #e06c75
}

body.is-dark .highlight .il,
body.is-dark .highlight .m,
body.is-dark .highlight .mf,
body.is-dark .highlight .mh,
body.is-dark .highlight .mi,
body.is-dark .highlight .mo,
body.is-dark .highlight .na {
    color: #d19a66
}

body.is-dark .highlight .bp,
body.is-dark .highlight .nb,
body.is-dark .highlight .nc,
body.is-dark .highlight .nd,
body.is-dark .highlight .ne,
body.is-dark .highlight .ni,
body.is-dark .highlight .nl,
body.is-dark .highlight .no,
body.is-dark .highlight .nv,
body.is-dark .highlight .py,
body.is-dark .highlight .vc,
body.is-dark .highlight .vg {
    color: #e5c07b
}

body.is-dark .highlight .err {
    color: #fff;
    background-color: #e05252
}

body.is-dark .highlight .gd {
    color: #e05252
}

body.is-dark .highlight .gi {
    color: #43d08a
}

body.is-dark .highlight .w {
    color: #f8f8f2
}

body.is-dark .highlight .cpf {
    color: navy
}

body.is-dark .highlight .gu {
    color: #75715e
}

body.is-dark .highlight .lineno {
    color: #636d83;
    user-select: none
}

body.is-dark .highlight .ln {
    color: #636d83;
    user-select: none
}

body.is-dark .highlight .ln:after {
    content: " "
}

body.is-dark .highlight .hll {
    color: #abb2bf;
    background-color: #3a3f4b
}

body.is-dark .highlight .hl {
    color: #abb2bf;
    background-color: #3a3f4b
}

body.is-dark .highlight .language-json .w+.s2 {
    color: #e06c75
}

body.is-dark .highlight .language-json .kc {
    color: #56b6c2
}