<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{- partial "head.html" . -}}
<body>
	<section class="hero is-info is-fullheight">
		<div class="hero-head">
			{{- partial "nav.html" . -}}
		</div>
		<div class="hero-body">
            <div class="container has-text-centered">
				<center>
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{ .Site.Params.avatar }}">
                    </figure>
                </center>
                <br>
				<h1 class="title">
					{{ .Site.Params.author }}
                </h1>
                {{ with .Site.Params.info }}
                <h2 class="subtitle">
                    {{ . }}
                </h2>
                {{ end }}
                {{ with .Site.Params.social }}
                {{ range sort . "weight" }}
				<a href="{{ .url }}" target="_blank" data-size="large"><u>{{ .name }}</u></a>
                {{ end }}
                {{ end }}
			</div>
		</div>
	</section>
	{{- partial "footer.html" . -}}
</body>
</html>
