/**!
 * @package   Blue Ocean - Hugo Theme
 * @filename  custom.css
 * @version   1.0
 * @author    Díaz Urbaneja Víctor Eduardo Diex
 * @date      28.04.2020 15:08:51 -04
 */

.section.sidebar .title:before {
	content: "- ";
}

.section.comments {
	padding: 0rem 1.5rem;
}

.footer {
	padding: 3rem 1.5rem 2rem;
}

.navbar-burger.burger {
	height: 4.25rem;
}

.navbar-burger span {
	height: 2px;
}

.navbar-item.author {
	text-transform: uppercase;
}
h1.title.author {	
	text-transform: uppercase;
}

/*==============================================
= Paginacion para los articulos
==============================================*/

.bd-prev-next-bis {
    border-top: 2px solid #f5f5f5;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.bd-prev-next-bis a {
    margin-top: 1.5rem;
}

.bd-prev-next-bis-previous {
    margin-right: auto;
}

.bd-prev-next-bis-next {
    margin-left: auto;
}

@media screen and (max-width:769px) {	
	.section.sidebar {
		padding: 0rem 1.5rem;
	}
	.section.sidebar .title:after {
		content: " -";
	}
	.section.sidebar .title {
		text-align: center;
	}
	.section.sidebar .title + p {
		text-align: center;
	}
	.section.sidebar .title + ul {
		text-align: center;
	}
	.section.sidebar .title + .field.is-grouped.is-grouped-multiline {
		display: flex;
		justify-content: center;
	}
}