<header class="hero is-info is-medium">
    <div class="hero-head">
        {{- partial "nav.html" . -}}
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                {{- .Title -}}
            </h1>
            <h2 class="subtitle">
	            {{ if .Params.Date }}
				<i class="fas fa-calendar"></i>&nbsp;{{- .Date.Format ( .Site.Params.dateFormat | default "2006-01-02") -}}&nbsp;&nbsp;&nbsp;
				{{ end }}
				{{ if .Params.ReadTime }}
	            <i class="fas fa-clock"></i>&nbsp;{{ .ReadingTime }} minute read
				{{ end }}
            </h2>
			{{ if .Params.tags }}
            {{ range .Params.tags }}
            <a href="{{- (urlize (printf "tags/%s/" .)) | absLangURL -}}" class="tag is-light">{{- . -}}</a>
			{{ end }}
			<br>
			{{ end }}
			{{ if .Description }}
            {{ if .Params.Date }}
            <br>
            {{ end }}
            <p {{ if not .Params.Date }}class="subtitle"{{ end }}>
                {{- .Description -}}
            </p>
			{{ end }}
        </div>
    </div>
</header>