<nav class="navbar is-transparent">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item author is-size-3">
                {{ .Site.Params.author }}
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
				{{ if .Site.Menus.item }}
					{{ $inNav := 0 }}
			        {{ $currentPage := . }}
			        {{ range sort .Site.Menus.item "Weight" "asc" }}
			        <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
			        {{ end }}
			    {{ end }}
            </div>
        </div>
    </div>
</nav>