<section class="section">
	{{- $recent := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
	{{- $recent_num := (.Site.Params.recent_num | default 5) }}
    {{ range first $recent_num $recent }}
    {{ if $recent }}
    <article class="box">
        <header>
            <a href="{{.RelPermalink}}">
                <h1 class="title">{{ .Title }}</h1>
            </a>
            <i class="fas fa-calendar"></i>&nbsp;<time>{{- .Date.Format (.Site.Params.dateFormat | default "2 January, 2006" ) -}}</time>
            {{ if .Site.Params.readTime_post }}
			&nbsp;<i class="fas fa-clock"></i>&nbsp;{{ .ReadingTime }} minute read
			{{ end }}
        </header>
        {{ if .Summary }}
        <br>
        {{ .Summary }}
        <footer>
            <br>
            <a href="{{.RelPermalink}}" class="button is-link">Read More &raquo;</a>
        </footer>
        {{ end }}
    </article>
    {{ end }}
    {{ end }}
</section>